<div class="clearfix mxn2">
  <div class="col sm-col-12 px2">
    <p>
      My name is Kaushik. I'm currently working at Passage AI, a conversational AI startup in Mountain View, CA. I've over 8 years of experience building data products - Search/Information Retrieval at Google, Recommendations at LinkedIn and Data Mining at Microsoft Bing.
    </p>  
    <p>
      I'm passionate about technology and building products. I've had a few years of industy experience building Data Products using Machine Learning.
    </p>
    <p>
      In this blog, I intend to share code, my learnings and also things I'd like to explore. If you find anything interesting, feel free to contact me (links at the bottom of this page).
    </p>  
  </div>
</div>
