<div class="clearfix mxn2">
  <div class="col sm-col-12 px2">
    <p>
      My name is Kaushik and I am an early engineer at Passage AI - a conversational AI startup in Mountain View CA primarily working on Dialog and Natural Language Understanding. I've over 8 years of experience building AI driven products for companies like Google, LinkedIn and Microsoft. Prior to that I received my Masters in Computer Science at the Georgia Institute of Technology at Atlanta specializing in Machine Learning.
    </p>  
    <p>
      I'm passionate about technology and building products. In this blog, I intend to share code, my learnings and also things I'd like to explore. If you find anything interesting, feel free to contact me (links at the bottom of this page).
    </p>
  </div>
</div>
