<div class="clearfix mxn2">
  <div class="col sm-col-12 px2">
    <p>
      My name is Kaushik. I'm currently working in the Job Recommendations Team as a Software Engineer at LinkedIn, Mountain View, CA. Prior to that, I was working in the Bing Data Mining Team at Microsoft in Bellevue.
    </p>  
    <p>
      I'm passionate about technology and building products. I've had a few years of industy experience building Data Products using Machine Learning.
    </p>
    <p>
      In this blog, I intend to share code, my learnings and also things I'd like to explore. If you find anything interesting, feel free to contact me (links at the bottom of this page).
    </p>  
  </div>
</div>
